<div class="h-full mt-[5%] max-2xl:mt-[5%] max-sm:mt-[12%] flex flex-col justify-center items-center gap-6 max-sm:gap-5">
    <div class="p-4 max-sm:p-3 bg-zinc-300 dark:bg-zinc-800 rounded-3xl max-sm:rounded-2xl shadow-xl dark:shadow-2xl">
        <p class="font-sans text-7xl max-sm:text-4xl tracking-widest">FileShake</p>
    </div>
    <div class="h-[40rem] w-[30%] max-2xl:h-[33rem] max-2xl:w-[65%] max-sm:h-[28rem] max-sm:w-[85%] bg-zinc-300 dark:bg-zinc-800 rounded-3xl shadow-xl dark:shadow-2xl">
        @ChildContent
    </div>
    <div class="text-center mb-1">
        <p class="px-20 max-sm:text-[0.9rem] font-sans">
            Made with ❤️ by
            <a 
                href="https://www.subhamk.com/" 
                target="_blank"
                class="underline hover:text-[#26272A] dark:hover:text-white"
            >
                Subham K.
            </a>
        </p>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}