<div class="h-full w-full p-5 max-sm:p-4 flex flex-col justify-center items-center gap-5 max-sm:gap-4 animate-pulse">
    <div class="h-[70%] w-full flex flex-col justify-center items-center gap-5 max-2xl:gap-5 max-sm:gap-4">
        <div class="h-[60%] max-sm:h-[55%] w-[50%] max-2xl:w-[45%] max-sm:w-[60%] rounded-3xl max-sm:rounded-2xl shadow-lg dark:shadow-2xl bg-zinc-400 dark:bg-zinc-700"></div>
        <div class="font-mono flex flex-col justify-center items-center text-center py-4 max-2xl:py-4 max-sm:py-3 px-[4%] max-2xl:px-[3%] max-sm:px-[6%] rounded-3xl max-sm:rounded-2xl shadow-lg dark:shadow-2xl bg-zinc-400 dark:bg-zinc-700 gap-5 max-2xl:gap-4 max-sm:gap-3">
            <div class="h-9 max-2xl:h-8 max-sm:h-7 w-72 max-2xl:w-60 max-sm:w-44 rounded-full shadow-lg dark:shadow-2xl bg-zinc-500 dark:bg-zinc-600"></div>
            <div class="h-6 max-2xl:h-5 max-sm:h-4 w-56 max-2xl:w-44 max-sm:w-36 rounded-full shadow-lg dark:shadow-2xl bg-zinc-500 dark:bg-zinc-600"></div>
        </div>
    </div>
    <div class="h-[30%] w-full flex flex-col justify-center items-center gap-5 max-2xl:gap-5 max-sm:gap-4">
        <p class="text-[1.9rem] max-2xl:text-[1.7rem] max-sm:text-[1.4rem] text-center">
            Preparing the file, just a moment...
        </p>
    </div>
</div>