@inject IConfiguration Configuration
@inject IJSRuntime JS

<div style="color-scheme: light;">
    <div style="color-scheme: light;">
        <div
            id="g_id_onload"
            data-client_id="@Configuration["GoogleAuthClientId"]"
            data-callback="handleCredentialResponse"
            data-auto_prompt="true"
            data-use_fedcm_for_prompt="true"
        ></div>
    </div>
    <div
        class="g_id_signin"
        data-shape="pill"
        data-theme="outline"
        data-size="medium"
    ></div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("addNewGoogleSignInScript");
    }
}