@page "/"

<PageTitle>FileShake</PageTitle>

<div class="h-full flex flex-col justify-center items-center text-center">
    <div class="font-mono text-4xl mb-1">
        <h1 class="font-mono">Hello, world!</h1>

        Welcome to your new app.
    </div>
</div>
