<div class="h-full w-full p-5 max-sm:p-4 flex flex-col justify-center items-center gap-5">
    <div class="h-[15%] w-full text-[3.5rem] max-sm:text-[2.5rem] text-center font-mono tracking-widest font-bold flex flex-col justify-center items-center">
        <p>100%</p>
    </div>
    <div class="h-[85%] w-full flex flex-col justify-center items-center">
        <div class="animate-bounce">
            <i class="text-[14rem] max-2xl:text-[11rem] max-sm:text-[8.5rem] mb-8 max-2xl:mb-5 max-sm:mb-5 drop-shadow-xl dark:drop-shadow-2xl fa-solid fa-cloud-arrow-up"></i>
        </div>
        <div class="text-[1.5rem] max-sm:text-[1.1rem] text-center">
            <p>
                Uploading your @(IsMultipleFiles ? "files" : "file"), this might take some time 
                depending upon the total size & the internet speed, so hold tight!
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsMultipleFiles {get; set;} = false;
}